.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: #f6f6f9;
  padding: 20px;
}

.auth-box {
  background:rgb(151, 184, 197);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-form button {
  background: #6c63ff;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-form button:hover {
  background: #5548e0;
}

.auth-footer {
  margin-top: 15px;
  font-size: 14px;
}

.auth-footer a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: 500;
}

.auth-footer a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}

